* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: Rubik;
  color: rgba(54, 56, 83, 1);
  background-color: #f8f7fb;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 600px) {
    padding-inline: 20px;
  }
}
h1 {
  font-size: clamp(2.25rem, 1.625rem + 3.13vw, 4.125rem);
  font-weight: 500;
}
h2 {
  font-size: clamp(1.375rem, 1.083rem + 1.46vw, 2.25rem);
  font-weight: 500;
}
h3 {
  font-size: clamp(0.938rem, 0.75rem + 0.94vw, 1.5rem);
  font-weight: 400;
}
span {
  font-size: clamp(1.375rem, 1.083rem + 1.46vw, 2.25rem);
  font-weight: 500;
  color: rgba(255, 122, 80, 1);
}
p {
  font-size: clamp(1rem, 0.917rem + 0.42vw, 1.25rem);
  font-weight: 400;
  line-height: 30px;
}
a {
  color: #363853;
  font-weight: 600;
}
button {
  box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
  background: none;
  border: none;
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  padding: 12px 21px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s ease;
}
button:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 122, 80, 1);
  transform: scale(1.1);
}

#header {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
  }
  .header_text {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .header_text nav {
    display: flex;
    gap: 60px;
  }
  .header_text nav a {
    text-decoration: none;
    color: black;
    font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  }
  .Hicon {
    font-size: 22px;
    cursor: pointer;
  }
  .header_text button {
    background: #ff7a50;
    border: none;
    padding: 13px 20px;
    border-radius: 4px;
    color: aliceblue;
    cursor: pointer;
  }
}
.burger_menu {
  font-size: 38px;
  display: none;
}
/*  */
#home {
  padding-block: 60px;
  .home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  #scooter {
    max-width: 650px;
    width: 100%;
  }
  .home img {
    .home_img {
      max-width: 650px;
      width: 100%;
      position: relative;
    }
  }
  .home_text {
    display: flex;
    flex-direction: column;
    max-width: 590px;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
  }
  .home_text p {
    line-height: 30px;
  }
  .home_img {
    position: relative;
    max-width: 689px;
    width: 100%;
  }
  .image .search {
    position: absolute;
    right: 360px;
    top: 10px;
  }
  .image .smith {
    position: absolute;
    right: 380px;
    top: 120px;
  }
  .image .sandwich {
    position: absolute;
    right: -50px;
    top: 240px;
  }
  .image .shapeArrow {
    position: absolute;
    right: 7px;
    top: 50px;
  }
  .image .time {
    position: absolute;
    right: 40px;
    top: 10px;
  }
}

.txt {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  ion-icon {
    color: #ff7a50;
    cursor: pointer;
    transition: 1s ease;
    font-size: 20px;
  }
  ion-icon:hover {
    transform: scale(1.4);
    transition: 1s ease;
  }
}
/* ? */
#about {
  padding-block: 40px;
}
.global_box {
  padding-block: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.about_text {
  text-align: center;
}
.about_box {
  max-width: 206px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mini_box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid gray;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s ease;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 2px 2px 8px 2px rgb(151, 153, 179);
}
.mini_box img {
  width: 44px;
  height: 44px;
  color: #000;
}
.mini_box:hover {
  transition: 1s ease;
  transform: scale(1.03);
  background-color: #ff7a50;
  color: #fff;
  border: none;
}
.max_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid gray;
  background-color: #fff;
  box-shadow: 2px 2px 8px 2px rgb(151, 153, 179);
  gap: 8px;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 10px;
  transition: 1s ease;
  img {
    max-width: 150px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .star {
    display: flex;
    gap: 10px;
    align-items: center;
    ion-icon {
      color: #fac412;
    }
  }
  p {
    font-size: 14px;
  }
}
.max_box:hover {
  transition: 1s ease;
  transform: scale(1.06);
}
.max_box button {
  padding: 10px 13px;
  font-size: 13px;
  color: #fff;
  background-color: #ff7a50;
}
/* ? */
/* ? */
#provide {
  padding: 10px 0 50px 0;
}
.provaider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  button {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    border: 1px solid #ff7a50;
  }
}
.provaider img {
  max-width: 625px;
  width: 100%;
}
.provaider_text {
  display: flex;
  max-width: 450px;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.provaider-box {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 1s ease;
}
.provaider-box:hover {
  transform: scale(1.04);
  transition: 1s ease;
}
.provaider-box img {
  width: 40px;
  height: 36px;
}
/* ?? */
/* ? */

#work {
  padding-block: 80px;
}
.work h2 {
  text-align: center;
}
.box {
  padding-block: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
.card {
  max-width: 360px;
  width: 100%;
  height: 417px;
  background: #fff;
  border-top-left-radius: 53px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 53px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 8px 2px rgb(151, 153, 179);
  transition: 1s ease;
}
.card:hover {
  transform: scale(1.03);
}
.card img:nth-child() {
  width: 100%;
}
.card-info {
  padding: 20px;
  .timer {
    padding-block: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 79px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(255, 122, 80, 1);
    }
  }
}
/*!1  */

/*! 2  */
#mobileAppInfo {
  padding-block: 40px;
}
.mobileAppInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobileAppInfoMain {
  max-width: 648px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  div {
    display: flex;
    align-items: center;
    gap: 35px;
  }
}
.mobileApp {
  display: flex;
  align-items: center;
  gap: 0px;
  position: relative;
  left: 110px;
}
.mobileApp img:nth-child(1) {
  position: relative;
  left: 110px;
  z-index: 1;
  transition: 1s ease;
}
.mobileApp img:nth-child(1):hover {
  transform: translateY(-15px);
}
.mobileApp img:nth-child(2):hover {
  transform: translateY(-15px);
}
.mobileApp img:nth-child(3):hover {
  transform: translateY(-15px);
}
.mobileApp img:nth-child(2) {
  transition: 1s ease;
  position: relative;
  z-index: 2;
}
.mobileApp img:nth-child(3) {
  transition: 1s ease;
  position: relative;
  right: 110px;
  z-index: 1;
}
/*! 2  */
.what {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.efood {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  img {
    width: 100%;
    max-width: 400px;
  }
}
.foodlove {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  gap: 15px;
}
.angelina {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h4 {
    color: rgba(255, 122, 80, 1);
    font-weight: 500;
    line-height: 23.7px;
  }
  h6 {
    color: rgba(170, 170, 170, 1);
    font-weight: 400;
    line-height: 16.59px;
  }
}
.efood-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  p {
    width: 100%;
    max-width: 600px;
    line-height: 45px;
    color: rgba(54, 56, 83, 1);
    font-weight: 400;
  }
}
.foodlove-btn {
  display: flex;
  width: 100%;
  max-width: 200px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  button {
    border: none;
    background: none;
    a {
      color: rgba(123, 123, 123, 1);
    }
  }
  button:last-child {
    background: none;
    a {
      color: rgba(255, 122, 80, 1);
    }
  }
}
@media (max-width: 770px) {
  .efood {
    flex-direction: column;
  }
}

/*! Offer*/

#last-ofer .container {
  max-width: 1280px;
  width: 100%;
}
.last-ofer {
  padding: 20px;
  margin-block: 40px;
  width: 100%;
  max-width: 1100px;
  height: 300px;
  background: #f9774f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  h2 {
    color: white;
    font-weight: 500;
    line-height: 47.4px;
  }
  p {
    color: #ffe4dc;
    font-weight: 0;
    line-height: 30px;
  }
}
.adres {
  padding-inline: 15px;
  width: 100%;
  max-width: 840px;
  height: 70px;
  background: white;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    color: rgba(54, 56, 83, 1);
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
  button {
    width: 100%;
    max-width: 150px;
    border-radius: 50px;
    background: #f9774f;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    a {
      color: white;
    }
  }
}
/*! Offer*/
.footer {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  ul {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    li {
      cursor: pointer;
      transition: 1s ease;
    }
    li:hover {
      color: #f9774f;
      transition: 1s ease;
      transform: scale(1.04);
    }
    li:first-child {
      font-size: clamp(0.75rem, 0.625rem + 0.63vw, 1.125rem);
      font-weight: 600;
    }
  }
}
.footer-contact {
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  a {
    text-decoration: none;
    color: rgba(55, 56, 61, 1);
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  nav {
    width: 100%;
    max-width: 180px;
    display: flex;
    justify-content: space-between;
    a {
      font-size: clamp(0.813rem, 0.667rem + 0.73vw, 1.25rem);
      background: #eeeeef;
      border-radius: 50%;
    }
  }
}
.line {
  margin-block: 20px;
  height: 1px;
  width: 100%;
  max-width: 1280px;
  background: #ebecf0;
}
.footer-bottom {
  padding-bottom: 20px;
  a {
    color: #646464;
  }
  padding-inline: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    gap: 20px;
  }
}
@media (max-width: 630px) {
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }
}
